* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 1rem;
}

.avatar-round {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar-rounded_xS {
    height: 3rem;
    border-radius: 50%;
}

.avatar-rounded_S {
    height: 3.5rem;
    border-radius: 50%;
}

.avatar-rounded_M {
    height: 4rem;
    border-radius: 50%;
}

.avatar-rounded_L {
    height: 4.5rem;
    border-radius: 50%;
}

.avatar-square {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar-square_xS {
    height: 3rem;
    border-radius: 25%;
}

.avatar-square_S {
    height: 3.5rem;
    border-radius: 25%;
}

.avatar-square_M {
    height: 4rem;
    border-radius: 25%;
}

.avatar-square_L {
    height: 4.5rem;
    border-radius: 25%;
}

.avatar-badge-sqaure {
    display: flex;
    gap: 1rem;
}

.avatar-badge_xS,
.avatar-badge_S,
.avatar-badge_L,
.avatar-badge_M {
    position: relative;
    display: inline-block;
}

.avatar-badge-sqaure p {
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    background: chartreuse;
    bottom: 2%;
    right: 0;
    border-radius: 50%;
}

.text-avatar {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.text-avatar_xS {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: rgb(44, 42, 42);
    text-align: center;
    color: white;
    vertical-align: center;
    font-size: 0.8rem;
    line-height: 3rem;
}

.text-avatar_S {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background: rgb(44, 42, 42);
    text-align: center;
    font-size: 1rem;
    color: white;
    vertical-align: center;
    line-height: 3.45rem;
}

.text-avatar_M {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: rgb(44, 42, 42);
    text-align: center;
    color: white;
    font-size: 1.2rem;
    vertical-align: center;
    line-height: 4rem;
}

.text-avatar_L {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background: rgb(44, 42, 42);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    vertical-align: center;
    line-height: 4.5rem;
}