@import url(/Container/CSS/style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 1rem;
}

.avatar {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.avatar-rounded {
    border-radius: 50%;
}

.avatar-rounded_xS {
    height: 3rem;
}

.avatar-rounded_S {
    height: 3.5rem;
}

.avatar-rounded_M {
    height: 4rem;

}

.avatar-rounded_L {
    height: 4.5rem;
}

.avatar-square {
    border-radius: 25%;
}

.avatar-square_xS {
    height: 3rem;
}

.avatar-square_S {
    height: 3.5rem;
}

.avatar-square_M {
    height: 4rem;
}

.avatar-square_L {
    height: 4.5rem;
}

.avatar-badge-sqaure {
    display: flex;
    gap: 1rem;
}

.avatar-badge {
    position: relative;
    display: inline-block;
}

.avatar-badge-sqaure p {
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    background: var(--badge-color);
    bottom: 2%;
    right: 0;
    border-radius: 50%;
}

.text-avatar {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar-text {
    background: #2c2a2a;
    text-align: center;
    color: var(--text-color);
    vertical-align: center;
    vertical-align: center;
}

.text-avatar_xS {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 0.8rem;
    line-height: 3rem;
}

.text-avatar_S {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 3.45rem;
}

.text-avatar_M {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 4rem;
}

.text-avatar_L {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 4.5rem;
}