@import url(/Container/CSS/style.css);

.response-image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.responsive-img {
  width: 20rem;
  height: auto;
}





.circular img {
  width: 8rem;
  height: 8rem;
  border-radius: 40rem;
  object-fit: cover;
}