@import url(/Container/CSS/style.css);

body{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.checkBox-list, .radioBtn-list{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.checkBox-list li, .radioBtn-list li{
    font-size: 1.3rem;
    list-style: none;
}
.checkbox{
    margin-right: 1rem;
}
.radio{
    margin-right: 1rem;
}

input.checkbox,.radio{
    width: 1.3rem;
    height: 1.3rem;
}

