@import url(/Container/CSS/style.css);

body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.modal-warning {
    display: flex;
    flex-direction: column;
    outline: 3px solid black;
    width: 25rem;
    height: max-content;
    padding: 0rem 1rem;
    margin: 3rem auto;
    background: var(--input-background);
    outline: 2px solid black;
    border-radius: 0.3rem;
    background: rgb(233, 233, 233);
    color: var(--alt-text-color);
    font-family: sans-serif;
    box-shadow: 5px 10px 10px var(--alt-text-color);
}

.Warning i {
    color: var(--danger-alert);
    padding: 0rem 1rem;
}

.Warning,
.warning--context,
.warning--btn {
    padding: 0.8rem 0rem;
    font-size: 1.2rem;
    font-weight: 550;
}

.warning--btn {
    margin-left: auto;
    margin-bottom: 0.5rem;
}

.warning--btn a{
    text-decoration: none;
    color: var(--alt-text-color);
    font-family: sans-serif;
    font-weight: 500;
    outline: 3px solid black;
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem;
    margin: 0rem 0.5rem;
    cursor: pointer;
}

.warning--btn a:hover {
    color: var(--input-background);
    background: var(--primary);
}