@import url(/Container/CSS/style.css);

.rating-system{
    margin: 2rem 2rem;
    outline: 2px solid black;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background: rgb(202, 199, 199);
    box-shadow: 5px 10px 10px var(--alt-text-color);
}
.rating-system i{
    font-size: 1.8rem;
    color: var(--rating-color);
}