@import url(/Container/CSS/style.css);

.rating-system{
    margin: 2rem 2rem;
    outline: 2px solid black;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background: black;
}
.rating-system i{
    font-size: 1.8rem;
    color: var(--rating-color);
}